<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ titulo }}</title>
        <link rel="icon" href="https://img.freepik.com/vector-gratis/dos-hojas-azules_78370-6256.jpg" type="image/png">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-fluid">
            <div class="row min-vh-100">
                <div class="col-md-9 d-flex align-items-center justify-content-center">
                    <div class="w-75">
                        <img src="https://img.freepik.com/vector-gratis/dos-hojas-azules_78370-6256.jpg" alt="Coffee Shop Logo" class="mb-4" style="max-width: 100px;"/>
                        <h1 class="mb-4" style="color:#21BDED">¡Buenas Tardes!</h1>
                        <div class="row">
                            <form class="col-md-5" action="/home" method="POST">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com"> 
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"> 
                                </div>
                                    <button class="w-100 btn btn-primary" style="background-color: #21BDED;border-color:#21BDED" type="submit">Ingresar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-none d-md-block p-0">
                    <div class="h-100 w-100 text-white d-flex justify-content-center align-items-center text-center" style="background: url(https://plus.unsplash.com/premium_photo-1700607978783-709240aa40fb?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center/cover;">
                        <div style="margin-left: 10%; margin-right: 10%; background-color: rgba(28, 44, 69, 0.5);" class="p-4 rounded" >
                                <h2>Finantel Group</h2>
                                <p>Gestionamos tus liquidaciones y finanzas de manera clara y segura, para que tu sueldo llegue siempre a tiempo y sin complicaciones.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    </body>
</html>